

canvas#room-canvas {
    border: 1px solid black;
    height: auto;
    width: 60%;
    margin: 0 auto
}


.Lobby {
    border: 2px solid black;
    margin: 10px;

}

.Lobby div {
    display: flex;
    flex-direction: row;
}

.Lobby button {
    margin: 10px;
}