canvas#room-canvas {
    border: 1px solid black;
    /* animation: slide-out-top 4s 1; */
    /* animation-fill-mode: forwards;   */
}


@keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
}

/* .container { */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-content: center; */
/* } */