.Lobby {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.Lobby button {
    margin: 15px;
    position: relative;
    box-shadow: 0 6.5px rgb(50, 150, 128);
    border: 2.5px solid #258b75;
}
.Lobby button:hover {
    top: 3px;
    box-shadow: 0 5px rgb(50, 150, 128);
}
.Lobby button:active {
    top: 5px;
    box-shadow: 0 3px rgb(50, 150, 128);
}
@media (max-width: 480px) {
    .Lobby button {
        margin: 10px;
    }
}

.lobby-logo {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

@media (max-width: 480px) {
    .lobby-logo {
        display: none
    }
}